*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 0.5vh 5vw;
  background-color: #f8f0e3;
  color: #020636;
}
.navbar {
  display: flex;
}
.home {
  color: #d65123;
}
.navbar li:not(:last-child) {
  margin-right: 20px;
}
.navButton{
  width: 5 vw;
}
span img:not(:last-child){
    margin-right: 10px;
}
.navButton{
  display: none;
}
@media screen and (max-width: 1000px) {
  .navButton{
    display: block;
  }
  .logo{
    width: 30%;
  }
  span img{
    display: none;
  }
  
}
@media screen and (max-width: 800px) {
  .navButton{
    display: block;
  }
  .navbar, span img{
    display: none;
  }
  
}